@import 'variables';

.navbar-default {
  background-color: $gray-e; 
  border: none;

  div.navbar-header a {
    color: black;
  }

  div.navbar-header a:hover {
    color: black;
    text-decoration: underline;
  }

  ul.nav li a {
    color: black;
  }

  ul.nav li a:hover {
    text-decoration: underline;
  }

  ul.nav li.active a {
    background-color: $gray-c !important;
  }
}