@import 'variables';
@import 'playerItem';
@import 'searchBar';

.team-row {
  margin-bottom: 30px;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.medium-icon {
  width: 40px;
}

.circular-icon {
  border-radius: 50%;
}

.item-header-text {
  font-size: 13px;
}

.color-green {
  color: $win-green;  
}

.color-red {
  color: $lose-red;
}

.color-gray {
  color: $remake-gray;
}

.float-right {
  float: right;
}

.navbar {
  margin-bottom: 0;
}

.footer {
  height: $footer-height;
}