$blue-team-color: #a9e6ff;
$purple-team-color: #c1aeda;
$win-green: #25b325;
$lose-red: #d62c2c;
$victory-green: #abecab;
$victory-green-dark: #87d487;
$defeat-red: #fdb6b6;
$defeat-red-dark: #fd8f8f;
$light-gray: #888888;
$remake-gray: #bbbbbb;
$remake-gray-dark: #999999;

@import 'playerItem';

.team-row {
  margin-bottom: 30px;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.medium-icon {
  width: 40px;
}

.circular-icon {
  border-radius: 50%;
}

.item-header-text {
  font-size: 13px;
}

.color-green {
  color: $win-green;  
}

.color-red {
  color: $lose-red;
}

.color-gray {
  color: $remake-gray;
}

.float-right {
  float: right;
}