$blue-team-color: #a9e6ff;
$purple-team-color: #c1aeda;
$win-green: #25b325;
$lose-red: #d62c2c;
$undecided-gray: #4c4c4c;

.team-row {
  margin-bottom: 30px;
}

.player-item-container {
  border: 1px solid black;

  .blue-team-background {
    background-color: $blue-team-color;
  }

  .purple-team-background {
    background-color: $purple-team-color;
  }
}

.medium-icon {
  width: 20%;
  margin-right: 5%;
}

.tier-data {
  display: inline-block;
  width: 73%;
  margin-right: 2%;
}

.series-icon {
  margin: 0 2px;
}

.color-green {
  color: $win-green;  
}

.color-red {
  color: $lose-red;
}

.color-gray {
  color: $undecided-gray;
}

.float-right {
  float: right;
}