@import 'variables';

.player-item-container {
  border: 1px solid black;
  margin-bottom: 20px;

  .summoner-spell-container {
    display: inline-block;
    width: 20px;
    position: relative;

    .summoner-icon-1 {
      width: 20px;
      position: absolute;
      top: -24px;
    }

    .summoner-icon-2 {
      width: 20px;
      position: absolute;
      top: -4px;
    }
  }

  .player-item-sub-title {
    text-align: center;
    border-top: 1px solid black;
    background-color: $very-light-gray;
  }

  .player-item-content {
    padding: 4px;
  }

  .blue-team-background {
    background-color: $blue-team-color;
  }

  .purple-team-background {
    background-color: $purple-team-color;
  }

  .victory-background {
    border-top: 1px solid $light-gray;
    background-color: $victory-green;

    .item-header-text {
      background-color: $victory-green-dark;
    }
  }

  .defeat-background {
    border-top: 1px solid $light-gray;
    background-color: $defeat-red;

    .item-header-text {
      background-color: $defeat-red-dark;
    }
  }

  .remake-background {
    border-top: 1px solid $light-gray;
    background-color: $remake-gray;

    .item-header-text {
      background-color: $remake-gray-dark;
    }
  }

  .series-icon {
    margin: 0 2px;
  }
}