@import 'variables';

.react-autosuggest__container {
  display: inline-block;
  position: relative;
  left: -70px;
}

.search-bar-container {
  text-align: center;
  margin-top: 20vh;
  height: 250px;
  margin-left: 320px;
  margin-right: 320px;
  padding-top: 20px;
  margin-bottom: -webkit-calc(80vh - 304px - #{$footer-height});
  margin-bottom:    -moz-calc(80vh - 304px - #{$footer-height});
  margin-bottom:         calc(80vh - 304px - #{$footer-height});
  position: relative;
  background-color: $gray-e;
}

.search-error-message {
  height: 20px;
  font-size: 16px;
  color: $lose-red;
  font-weight: 700px;
}

.search-bar-items {
  display: inline-block;
  position: relative;
  width: $search-input-width + $region-select-width + $search-button-width;
  margin-top: 10px;
  box-shadow: 0 3px 6px #bbb;

  .search-input {
    width: $search-input-width;
    height: $search-item-height;
    font-size: 16px;
    padding: 0px 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .region-select {
    display: inline-block;
    width: $region-select-width;
    height: $search-item-height;
    position: absolute;
    left: $search-input-width;
    top: 0;
  }
  
  .search-button {
    position: absolute;
    width: $search-button-width;
    height: $search-item-height;
    left: $search-input-width + $region-select-width;
    top: 0;
  }

  .react-autosuggest__suggestions-container {
    background-color: white;

    .react-autosuggest__suggestions-list {
      padding: 0;
      margin: 0;
      text-align: left;
  
  
      li {
        list-style: none;
        padding: 5px 10px;
        font-size: 14px;
        border-bottom: 1px solid $light-gray;
        border-left: 1px solid $light-gray;
        border-right: 1px solid $light-gray;
      }
  
      li.react-autosuggest__suggestion--highlighted {
        background-color: $gray-d;
        cursor: pointer;
      }
    }
  }
}