$blue-team-color: #a9f2ff;
$purple-team-color: #c1aeda;
$win-green: #25b325;
$lose-red: #d62c2c;
$gold-kda: #ffc63a;
$gold-summoner-spell: #ffc400;
$red-kda: #f75353;
$victory-green: #a9e6ff;
$victory-green-dark: #6dd0f9;
$defeat-red: #fdb6b6;
$defeat-red-dark: #fd8f8f;
$light-gray: #888888;
$gray-c: #cccccc;
$gray-d: #dddddd;
$gray-e: #eeeeee;
$gray-b: #bbbbbb;
$gray-9: #999999;
$gray-7: #777777;
$fire-orange: #ff8600;

$search-input-width: 500px;
$region-select-width: 70px;
$search-button-width: 70px;
$search-item-height: 40px;

$footer-height: 20px;