$blue-team-color: #a9e6ff;
$purple-team-color: #c1aeda;
$win-green: #25b325;
$lose-red: #d62c2c;
$victory-green: #abecab;
$victory-green-dark: #87d487;
$defeat-red: #fdb6b6;
$defeat-red-dark: #fd8f8f;
$light-gray: #888888;
$remake-gray: #bbbbbb;
$remake-gray-dark: #999999;

$search-input-width: 500px;
$region-select-width: 70px;
$search-button-width: 70px;
$search-item-height: 40px;

$footer-height: 20px;